:root {
  --color-canvas-default: #0d1117;
  --color-canvas-subtle: #161b22;
  --color-border-default: #30363d;
  --color-fg-default: #e6edf3;
  --color-fg-muted: #8b949e;
  --color-accent-emphasis: #58a6ff;
  --color-success-emphasis: #3fb950;
  --color-done-emphasis: #a371f7;
}